.projects {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    padding: 20px 0;
}

.projects div.image {
    align-items: center;
    border-radius: 10px;
    box-sizing: border-box;
    display: flex;
    height: 300px;
    margin-bottom: 10px;
    padding: 20px;
    width: 300px;
}

.projects div.white-background {
    background-color: white;
    transition-duration: 0.5s;
}

.projects div.wood-background {
    background-color: #3F301D;
    transition-duration: 0.5s;
}

.projects div.charcoal-background {
    background-color: #232023;
    transition-duration: 0.5s;
}

.projects div.blue-background {
    background-color: #002244;
    transition-duration: 0.5s;
}
.projects div.cherry-blossom-pink-background {
    background-color: #e37283;
    transition-duration: 0.5s;
    border-radius: 10px;
}

.projects div:hover {
    background-color: transparent;
    transition-duration: 0.5s;
}

.projects div.image img {
    width: 100%;
}

.project-description,
.project-section h3 {
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 20px;
}

.project-section {
    margin-bottom: 30px;
}

 .card-container {
     perspective: 1000px;
     width: 300px;
     height: 300px;
     position: relative;
 }

 .card {
     width: 100%;
     height: 100%;
     position: absolute;
     transform-style: preserve-3d;
     transition: transform 0.6s;
     transform-origin: center;
 }

 .card .front,
 .card .back {
     backface-visibility: hidden;
     position: absolute;
     top: 0;
     left: 0;
     right: 0;
     bottom: 0;
     border-radius: 10px;
     overflow: hidden;
 }

 .card .back {
     transform: rotateY(180deg);
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
 }

 .card-container:hover .card {
     transform: rotateY(180deg);
 }

 .card-options a {
     margin: 10px;
     text-decoration: none;
     background-color: #008CBA;
     color: white;
     padding: 10px 20px;
     border-radius: 5px;
 }
 

 .project-logo {
     display: block;
     margin: 0 auto 20px 0;
     width: 150px;
     text-align: start;
     /* Adjust width as needed */
 }
 .flex-container {
     display: flex;
     align-items: flex-start;
     gap: 60px;
     margin-bottom: 50px;
     margin-top: 50px;
     flex-wrap: wrap;
 }

 .text-container {
     flex: 1;
 }

 .project-image {
     width: 35%;
     /* or whatever width you prefer */
     border: 1px solid #ddd;
     border-radius: 8px;
     box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
     margin-top: auto;
     margin-bottom: auto;
 }

 @media (max-width: 768px) {
     .flex-container {
        flex-direction: column;
        align-items: center;
        margin-bottom: 10px;
        margin-top: 10px;
        gap: 10px;
     }

     .text-container,
     .project-image {
         width: 100%;
         max-width: none;
         text-align: left;
     }

     .project-image {
         width: 100%;
         margin-bottom: 20px;
         /* Optional: adds some spacing between the image and text when stacked */
     }
 }